body
{
    background-color: #311d3f;
    color: brown;
    .outlined-text  
    {
    color: white;
    -webkit-text-stroke: 0.5px deepskyblue;
    }
}
.images
{
    margin: 30px;
}

#pageNameHeader
{
-webkit-text-stroke: 0.5px crimson;
}

#githubJohn
{
font-size: x-large;
}